html,
body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  height: 100%;
  margin-top: 20%;
}

.container div {
  flex: 1;
}
